#featured {
  margin-bottom: 2rem;
  display: grid;
  gap: 1rem;
  box-sizing: border-box;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  & > figure {
    height: 416px;
  }
  & > div{
    display: grid;
    gap: 1rem;
  }

  .card {
    position: relative;
    overflow: hidden;
    &::before {
      /* border-radius: 4px; */
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }
    figcaption {
      position: absolute;
      bottom: 0;
      padding: 24px;
      h2 {
        margin-top: 8px;
      }

      &:has(.text-l) {
        padding: 12px;
      }
    }
  }
}



#weekly {
margin-bottom: 2rem;
  & > div {
    /* grid-template-columns: repeat(4, 292px); */
    display: grid;
    gap: 2rem;
    padding-block: 24px;
    column-gap: 16px;
    justify-content: space-between;
  }
  figure {
    max-width: 100%;
    position: relative;
    max-height: 100%;

    p {
      font: var(--h2);
      margin-top: .5rem;
      color: var(--text-color-primary);
      padding: 0;
    }
  }
  span {
    position: absolute;
    margin: 8px;
  }

  img {
    /* height: 160px; */
    object-fit: cover;
  }
  header {
    /* justify-content: space-between; */
    border-top: 1px solid var(--stroke-color);
    padding-top: 12px;
    font: var(--text-span);
    color: var(--text-color-secondary);
    font-weight: 600;
    margin: 0;
  }
  p {
    padding: 4%;
    font: var(--h2);
    margin-top: 8px;
    color: var(--text-color-primary);
  }
  header a {
    /* width: 74px; */
    justify-self: end;
    align-items: center;
    gap: 4px;
    justify-content: space-between;

    div {
      background-image: url(./assets/icons/ArrowRight.svg);
      width: 16px;
      height: 16px;
    }
    &:hover div {
      background-image: url(./assets/icons/ArrowRightHover.svg);
    }
  }
}



header {
  border-top: 1px solid var(--stroke-color);
  padding-top: 12px;
  margin-bottom: 24px;
  a {
    /* width: 74px; */
    justify-self: end;
    align-items: center;
    gap: 4px;
    justify-content: space-between;

    div {
      background-image: url(./assets/icons/ArrowRight.svg);
      width: 16px;
      height: 16px;
    }
    &:hover div {
      background-image: url(./assets/icons/ArrowRightHover.svg);
    }
  }
}

#bottom {
 
}


#ai {
  /* border: solid; */
  max-width: 696px;
  font: 800 14px/140% var(--font-family);
  display: grid;
  grid-area: ai;
  column-gap: 16px;
  grid-template-rows: auto;
  img {
    width: 176px;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* margin-top: 7px; */
  }
  h3 {
    margin-block: 8px 4px;
  }
  & > div {
    /* row-gap: 32px; */
    grid-template-rows: auto;
  }
  p {
    font: var(--text-sm);
    color: var(--text-color-secondary);
  }
  span {
    margin-top: 6px;
  }
  article {
    overflow-y: auto;
    height: 164px;
    display: flex;
    padding: 2%;
    margin: 0;
    box-sizing: border-box;
    & div:nth-child(1){
      order: 2;
      width: 232px;
      
    }
    & div:nth-child(2){

    }

    & img{
      width: 5rem;
      height: 5rem;
    }
  }
}



aside {
  display: grid;
  width: 100%;
  & > img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    margin-block: 2rem;
  }
}

#more {
  
  margin-bottom: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto;
  justify-content: space-between;
  img {
    width: 72px;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin-top: 7px;
  }
  span {
    margin-block: 2px 8px;
  }
  h3 {
    font: 800 14px/140% var(--font-family);
  }
  header {
    height: 32px;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  article {
    padding: 2%;
    margin: 0;
    box-sizing: border-box;
  }
}
#moremore {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (width >= 80em) {
  #featured {
    margin-bottom: 5rem;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    & > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
  #weekly{
& > div{
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;

}
  }
  #bottom {
    display: flex;
    position: relative;
    & aside{
      & > img{
        margin-block: 0;
      }
    }
  }
  #ai {
   & article{
    height: 100%;

    display: inherit;
    & div:nth-child(1){
      order: 2;
      width: 100%;
      
    }
    & img{
      width: 11rem;
      height: 11rem;
    }
   }
  }
#more{
  position: absolute;
  bottom: 0;
  height: 68%;
  margin-top: 2rem;

}

}
