/* utility-first */
.container {
  --px-lg: 1rem;
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;

}
.desktop-only{
  display: none;
}

.grid {
  display: grid;
}
.grid-flow-col {
  grid-auto-flow: column;
}
.grid-col-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}
/* .gap-32{
  gap: 32px;
 } */
.text-2xl {
  font: var(--h1);
}
.text-xl {
  font: var(--h2);
}
.text-l {
  font: var(--h3);
}
.text-sm {
  font: var(--text-sm);
}
@media (width >= 80em) {
  .container {
    --px-lg: 2rem;
    --max-width: 80em;
    margin-inline: auto;
  }
  .desktop-only{
    display: initial;
  }
}
.border{
  /* border: solid red; */
}